<template name="loading">
	<!-- <div class="loadingIcon"><img src="/spinner.gif" class="loading-app" /></div> -->
	<!-- <div class="loadingText">Loading...</div> -->

	<div class="container">
		<div class="center">
			<div class="center-container">
				<span class="dyn-box">
					<div class="dyn-body">
						<div>
							<div class="loadingIcon"><img src="/spinner.gif" class="loading-app" /></div>
							<div class="loadingText">Loading...</div>
						</div><br />
					</div>
				</span>
			</div>
		</div>
	</div>

</template>