<template name="mainLayout">
	<div id="wrapper">
		{{> navigation}}
		<!-- {{>Template.dynamic template=mainNav}} -->
		<!-- Main content -->
        <div id="page-wrapper">
            <div class="container-fluid">

				{{#if Template.subscriptionsReady}}
					{{>Template.dynamic template=mainContent}}
				{{else}}
					{{>loading}}
				{{/if}}

			{{> footer}}
			<!-- {{>Template.dynamic template=mainFooter}} -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
</template>

