<template name="navbarHeader">

<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">

	<button type="button" class="navbar-toggle" dat	a-toggle="collapse" data-target="#navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<!-- Top Menu Items -->
	{{> headerMenuItems}}

	<!-- Branding Element (logo etc) -->
	<a class="navbar-brand" href="{{pathFor route='home'}}">
		<img class="nav-logo" src="/img/FirstAidKit-32.png"><div class="nav-logotype">KitbagPro</div>
	</a>
</div>

</template>